{% extends 'base.html.twig' %}

{% block title %}Hello DataInputController!{% endblock %}

{% block body %}
<main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="cropped">
        <img src="https://ipvdelft.nl/wp-content/uploads/2018/01/fietsbelevenis-tussen-de-bomen-ontwerp-2_pad-verdiept_ipvDelft-1500x630.jpg" alt="Fietsen bos">
      </div>
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Welkom</h1>
          <p>Doormiddel van deze handige app kun je nu je reistijden gemakkelijk declareren.</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Meer info »</a></p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Maandelijkse winnaar</h2>
             {% for gegevens in reisgegevens %}
             <p>In de maand {{gegevens.month |date('2012-' ~ gegevens.month) |date('F') }} van {{gegevens.year}} heeft iemand in totaal {{gegevens.afstand}} Kilometer gefietst!</p>
             {% endfor %}
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
          </div>
          <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
          </div>
          <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->

    </main>
{% endblock %}
